 <h1>Login Page</h1>
 <div>
    <!-- Input fields for email and password -->
    <label for="email">Email:</label>
    <input type="email" id="email-login" name="email" placeholder="Enter your email"><br>
    
    <label for="password">Password:</label>
    <input type="password" id="password-login" name="password" placeholder="Enter your password"><br>
    
    <!-- Login button -->
    <button type="button" id="login-button">Login</button>
    </div>
    <div>
    <h1>Signup Page</h1>
 </div>
   <div> 
    <!-- Input fields for name, email, and password -->
    <label for="username">Username:</label>
    <input type="text" id="username-signup" name="username" placeholder="Enter your username"><br>

    <label for="email">Email:</label>
    <input type="email" id="email-signup" name="email" placeholder="Enter your email"><br>

    <label for="password">Password:</label>
    <input type="password" id="password-signup" name="password" placeholder="Enter your password"><br>

    <!-- Save button -->
    <button type="button" id="signup-button">Create Account</button>
    </div>
    <script src='/js/login.js'></script>